.videosContainer {
  padding: 3rem 2.5rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.videosContainer li {
  border: 1px solid var(--secondary-color);
  padding: 1rem 1.3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
