/* Styles for reading homepage */
.writingOptions {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  row-gap: 2rem;
  margin-top: 2.5rem;
}
.writingOption {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  width: 45%;
  height: 70px;
  border-radius: 15px;
  background: var(--accent-color);
  font-size: 1.3rem;
  transition: all 0.3s;
}
.writingOption:hover {
  background: #86aca5;
}
form {
  margin: 1rem 0;
}
textarea {
  width: 900px;
  resize: vertical;
  height: 280px;
  margin-bottom: 1rem;
  border: 3px solid grey;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
  font-family: "Radio Canada", sans-serif;
}
textarea:focus {
  border: 3px solid var(--primary-color);
}
.buttons {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}
.changeTopic {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.changeTopic span {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
